@import play.api.Configuration

@(product: Product)(implicit flash: Flash, lang: Lang, messages: Messages, config: Configuration)

@main(Messages("products.details", product.name)) {
  <h2 class="pull-right" >
    @tags.barcode(product.ean)
  </h2>
  <h2>
    @Messages("products.details", product.name)
  </h2>

  <dl class="dl-horizontal">
    <dt>@Messages("ean"):</dt>
    <dd>@product.ean</dd>

    <dt>@Messages("name"):</dt>
    <dd>@product.name</dd>

    <dt>@Messages("description"):</dt>
    <dd>@product.description</dd>
  </dl>

  @* BUTTONS TO EDIT AND REMOVE PRODUCT *@
  <a href="@routes.Products.editProduct(product.ean)" method="get">
    <input type="submit" class="btn primary" value=@Messages("products.edit.command")>
  </a>
  <form action="@routes.Products.remove(product.ean)" method="post">
    <input type="submit" class="btn primary" value=@Messages("products.remove.command")>
  </form>

}
