@import play.api.Configuration

@(products: List[Product])(implicit flash: Flash,lang: Lang, messages: Messages, config: Configuration)

@main(Messages("application.name")) {
  <dl class="products">
    @for(product <- products) {
      <dt>
        @* BUTTON LINKS TO PRODUCT *@
        <a href="@controllers.routes.Products.show(product.ean)">
          @product.ean
        </a>
        <a href="@controllers.routes.Products.show(product.ean)">
          @product.name
        </a>
      </dt>
      <dd>@product.description</dd>
    }
  </dl>

  @* BUTTON TO ADD NEW PRODUCT *@
  <p>
    <a href="@controllers.routes.Products.newProduct()" class="btn primary">
      <i class="icon-plus"></i> @Messages("products.new.command")
    </a>
  </p>

}
